<!DOCTYPE html>
<html>
<head>
  <title>Mi Página con Gráfico</title>
  <link rel="stylesheet" href="estilos.css">
</head>
<body>
  <!-- Barra de navegación -->
  <nav>
    <ul>
      <li><a href="/index">Inicio</a></li>
      <li><a href="/datos">datos</a></li>
      
    </ul>
  </nav>

  <!-- Título -->
  <h1>Gráfico</h1>

  <div>
    <p id="VariableBuenos">1</p>
    <p id="VariableMalos">2</p>
    <p id="VariableTotal">3</p>
  </div>
 
  <!-- Campo para incluir el gráfico -->
  <div>
    <canvas id="miGrafico" width="400" height="200"></canvas>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <!-- Agrega el script de Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
  <script>
    let VarBuenos;
    let VarMalos;
    let VarTotal;
    const socket = io();
    
    socket.on('updateVariable4', (newValue) => {
      
      document.getElementById('VariableBuenos').innerText = newValue;
      VarBuenos = parseInt(document.getElementById("VariableBuenos").textContent)
      
    });

    socket.on('updateVariable5', (newValue) => {
      
      document.getElementById('VariableMalos').innerText = newValue;
      VarMalos = parseInt(document.getElementById("VariableMalos").textContent);
    });

    socket.on('updateVariable6', (newValue) => {
      
      document.getElementById('VariableTotal').innerText = newValue;
      VarTotal = parseInt(document.getElementById("VariableTotal").textContent);
    });

       
    
    
    // Datos de ejemplo para el gráfico
    const data = {
      labels: ['Buenos', 'Malos', 'Total'],
      datasets: [{
        label: 'Datos',
        data: [
          VarBuenos,
          VarMalos,
          VarTotal],
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
    };

    // Opciones del gráfico
    const options = {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true
        }
      }

    };

    // Crea el gráfico
    
    const ctx = document.getElementById('miGrafico').getContext('2d');
    new Chart(ctx, {
      type: 'bar', // Tipo de gráfico (barra en este caso)
      data: data,
      options: options
    });
  </script>
</body>
</html>