<!DOCTYPE html>
<html lang="es">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SG-SST y QC</title>
  <link rel="stylesheet" href="estilos.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.css"> -->
</head>
<body>

  <nav >
    <ul>
      <li><a href="/index">Inicio</a></li>
      <li><a href="/datos">Datos</a></li>
      
    </ul>
  </nav>
  <h1> SG-SST & QC</h1>
  <h3>Sistema de Gestión de Seguridad y Salud en el Trabajo y Quality check en una linea de produccion</h3>

  <main>
    <div class="datos_variables">
      <h4>conteo buenos</h4>
      <label type="text" id="variableValue2"></label>
      <!-- <input type="text" id="texto1"> -->
    </div>
    
    <div class="datos_variables">
      <h4>conteo malos</h4>
      <label type="text" id="variableValue"></label>
      <!-- <input type="text" id="texto3"> -->
    </div>
  
    <div class="datos_variables">
      <h4>TOTAL</h4>
      <label type="text" id="variableValue3" ></label>
      <!-- <input type="text" id="texto3"> -->
      <hr>
      <a href="/guardar" >Guardar</a>
    </div>
    
    
  
    
    
  

  </main>
  

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const miBoton = document.getElementById('Guardar_btn1');
    const socket = io();

    socket.on('updateVariable', (newValue) => {
      document.getElementById('variableValue').innerText = newValue;
    });

    socket.on('updateVariable2', (newValue) => {
      document.getElementById('variableValue2').innerText = newValue;
    });

    socket.on('updateVariable3', (newValue) => {
      document.getElementById('variableValue3').innerText = newValue;
    });

    // miBoton.addEventListener('click', handleClick);


    
    function handleClick() {
      // alert('¡Has hecho clic en el botón!');
      // let estado_Btn1 = 1    

      // socket.emit('updateGuardar', estado_Btn1);
    }

  </script>

<div>
  <canvas id="miGrafico" width="400" height="200"></canvas>
</div>

<!-- <p>Para instalar librerias de solicitudes http en python: pip install requests json</p>


<p>*************codigo de solicitudes http********************************
  <pre><code>
    import requests <BR>
    import requests <BR>
    url = "https://proyectoseminario.azurewebsites.net" <BR>
    data = {'buenos': 220, 'malos': 30 }<BR>
    json_data = json.dumps(data)<BR>
    headers = {'Content-Type': 'application/json'}<BR>
    response = requests.post(url, data=json_data, headers=headers)<BR>
    

  </code></pre></p> -->
    
</body>
</html>