<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SG-SST y QC</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.css">
</head>
<body>

  <!-- <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="#">Acerca de</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav> -->
  <h1>SG-SST y QC</h1>
  <h3>Sistema de Gesti칩n de Seguridad y Salud en el Trabajo y Quality check en una linea de produccion</h3>

  <div>
    <h4>conteo buenos</h4>
    <label for="texto1" id="variableValue">Texto 1:</label>
    <!-- <input type="text" id="texto1"> -->
  </div>
  
  <div>
    <h4>conteo malos</h4>
    <label for="texto3" id="variableValue2">Texto 3:</label>
    <!-- <input type="text" id="texto3"> -->
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('updateVariable', (newValue) => {
      document.getElementById('variableValue').innerText = newValue;
    });

    socket.on('updateVariable2', (newValue) => {
      document.getElementById('variableValue2').innerText = newValue;
    });


  </script>

<div>
  <canvas id="miGrafico" width="400" height="200"></canvas>
</div>

<p>Para instalar ibrerias de solicitudes http en python: pip install requests json</p>


<p>*************codigo de solicitudes http********************************
    import requests
    import json

    # URL de la API a la que enviar치s el JSON
    url = "https://proyectoseminario.azurewebsites.net/about"

    # Datos en formato JSON que quieres enviar
    data = {
        'buenos': 220,
        'malos': 30,
        
    }

    # Convertir el diccionario en formato JSON
    json_data = json.dumps(data)

    # Establecer las cabeceras adecuadas para indicar que se est치 enviando JSON
    headers = {'Content-Type': 'application/json'}

    # Realizar la solicitud POST con requests
    response = requests.post(url, data=json_data, headers=headers)

    # Verificar la respuesta de la API
    if response.status_code == 200:
        print("JSON enviado correctamente.")
        print("Respuesta de la API:", response.json())
    else:
        print("Error al enviar el JSON. C칩digo de estado:", response.status_code)
        print("Respuesta de la API:", response.text)
</p>

</body>
</html>